body {
    background-image: url("https://cdn.wallpapersafari.com/21/39/r2QxYy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}