body {
    background-image: url("https://cdn.wallpapersafari.com/21/39/r2QxYy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-left: 20px;
    padding-right: 20px;
}

#page-title {
    text-align: center;
    border-style: groove;
}

#review-car {
    border-style: groove;
}

#review {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cars-container {
    border-style: groove;
    overflow: scroll;
    height: 410px;
    flex-direction: column;
    max-width: 300px;
    background: white;
    /* padding-right: 60px;
    padding-left: 20px; */
    align-content: center;
}

#car {
    border-style: groove;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 20px;
    height: 200px;
}

#car-filter {
    list-style: none;
    width: 100%;
    height: 60px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    border-style: groove;
    margin-bottom: 20px;
}

.car-image {
    float: right;
    /* border-style: groove; */
}

#review-list li {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

#new-reviews li {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

#cars-list-title {
    text-align: center;
}

.detail-image {
    border-radius: 50;
}

.nav-buttons {
    width: 200px;
    height: 50px;
    align-content: center;
}

#car-list {
    list-style: none;
    height: 60px;
    /* margin: 0 auto; */
    display: list-item;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.img-circle {
    height: 410px;
}

#large-logo {
    float: right;
}

#main-car {
    transition: all 0.3s ease-in-out;
    position:relative;
    top: 0px; left: 1000px;
}

h2 {
    font-style: oblique;
}